#dynamic-out {width: 100%; font: 18px sans-serif; border: 1px solid #ccc;padding: 5px}
.dynamic-word {display: inline-block; background: #eee; padding: 2px 4px; margin-right: 2px; cursor: pointer}
#translation-picker {display: none; position: absolute}
