<div class="form-group">
    <h3>Word to word</h3>
    <p>
        Input the text, click words to pick their translations and adjust their forms.
        This tool is useful if you are a native Slavic speaker.
        Otherwise you may have hard times quickly fixing the cases and conjugations.
    </p>

    <div>
        <label for="dynamic-in">English text:</label>
        <textarea class="form-control" rows="5" id="dynamic-in">Hello, world!</textarea>
    </div>

    <div class="checkbox">
        <label>
            <input id="strict-comparison" type="checkbox" checked data-toggle="toggle">
            Strict search
        </label>
    </div>

    <div style="margin-top: 20px">
        <label for="dynamic-in">Medžuslovjanski tekst:</label>
        <div id="dynamic-out" class="img-rounded">
            <div class="dynamic-word translated" data-eng="hello" data-mzs="zdrav" data-type="intj">zdrav</div>
            <div class="dynamic-word translated" data-eng="world" data-mzs="svět" data-type="nm">svět</div>
        </div>
    </div>

    <div id="translation-picker" class="dropdown clearfix">
        <ul class="dropdown-menu" role="menu" aria-labelledby="translation-picker" style="display:block;position:static;margin-bottom:5px;"></ul>
    </div>
    <div id="wordform-picker" class="dropdown clearfix">
        <ul class="dropdown-menu" role="menu" aria-labelledby="wordform-picker" style="display:block;position:static;margin-bottom:5px;"></ul>
    </div>
</div>

